In [1]:
import pandas as pd

/Users/EllaPrice/.pyenv/versions/3.8.3/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Initial Data loading

This section of the code extracts county 1001 from the larger train, test and validation csv file from Kaggle’s ‘Predict Droughts using Weather & Soil Data’ dataset. The data can be downloaded from this link: https://www.kaggle.com/cdminix/us-drought-meteorological-data. This data for a single county is appended to a single dataframe containing all time data present and saved to a new csv file for ease of use

In [2]:
def load(data, county):
    """Load in data from all counties and extract single county data"""
    county = data.xs(county)
    county.sort_index(inplace=True)
    del data
    return county

### Load test data

In [3]:
test = pd.read_csv('test_timeseries/test_timeseries.csv').set_index(['fips', 'date'])

In [4]:
test_data = load(test, 1001)
del test

In [5]:
test_data

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,
2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,6.46,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,8.23,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,3.30,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,12.75,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,10.69,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,0.00,100.73,4.03,3.50,0.87,2.18,13.08,-3.34,16.42,3.32,1.99,2.64,0.88,1.76,4.34,6.67,1.17,5.49,NaN
2020-12-28,0.05,101.07,5.95,7.20,6.39,6.80,15.35,0.65,14.70,6.95,1.56,1.92,0.76,1.16,3.21,5.00,1.41,3.59,NaN
2020-12-29,0.11,101.10,7.01,10.01,8.78,9.39,17.56,5.78,11.78,9.96,2.00,2.33,1.60,0.73,4.32,6.55,2.74,3.81,0.0
2020-12-30,0.06,100.62,7.93,12.22,10.54,11.38,19.21,6.16,13.05,12.14,2.71,3.58,2.26,1.31,5.40,6.45,4.33,2.12,NaN
2020-12-31,4.49,100.14,10.25,14.91,14.37,14.64,20.47,9.38,11.08,14.86,2.40,4.94,1.66,3.28,4.84,9.12,2.81,6.32,NaN

### Load training data

In [6]:
train = pd.read_csv('train_timeseries/train_timeseries.csv').set_index(['fips', 'date'])

In [7]:
train_data = load(train, 1001)
del train

In [8]:
train_data

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,
2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,9.50,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,10.18,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,7.41,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,15.92,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0000
2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,13.48,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,0.61,100.75,11.79,17.81,16.63,16.59,23.72,13.42,10.30,17.74,1.86,2.56,1.17,1.39,4.00,5.10,2.28,2.82,3.0928
2016-12-28,1.05,100.43,9.77,15.22,13.48,13.48,18.62,11.76,6.86,15.18,1.14,3.25,0.14,3.12,2.63,6.99,0.31,6.68,NaN
2016-12-29,2.19,100.54,6.78,12.56,5.69,5.75,18.43,2.84,15.59,12.41,3.80,5.73,2.23,3.50,7.18,9.45,5.37,4.08,NaN
2016-12-30,0.00,101.05,3.04,5.60,-3.02,-2.90,11.86,-0.30,12.16,4.38,2.06,3.11,1.03,2.07,3.81,5.13,1.35,3.77,NaN
2016-12-31,8.21,100.44,4.88,6.13,2.93,2.95,10.55,1.03,9.52,6.13,2.56,3.64,1.45,2.19,4.91,6.92,2.91,4.00,NaN

### Load validation data

In [9]:
val = pd.read_csv('validation_timeseries/validation_timeseries.csv').set_index(['fips', 'date'])

In [10]:
val_data = load(val, 1001)
del val

In [11]:
val_data

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,
2017-01-01,32.50,100.02,10.47,14.69,14.47,14.47,17.68,10.53,7.15,14.63,2.14,2.71,1.52,1.19,4.40,5.96,2.25,3.71,NaN
2017-01-02,63.52,100.04,12.75,17.96,17.75,17.75,20.30,16.14,4.16,17.85,2.75,4.31,1.60,2.71,5.50,8.16,4.05,4.11,NaN
2017-01-03,18.82,99.69,9.74,14.24,13.44,13.44,18.48,9.29,9.20,14.06,2.25,3.73,1.64,2.09,4.80,7.27,2.54,4.72,2.0
2017-01-04,0.01,100.02,5.21,8.10,3.86,3.88,11.74,2.12,9.62,8.08,2.63,3.95,1.34,2.60,4.98,6.16,3.36,2.80,NaN
2017-01-05,0.01,99.89,4.54,5.91,2.20,2.22,13.07,-0.18,13.24,5.85,1.76,2.76,0.47,2.28,3.43,4.70,0.66,4.04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,49.88,100.28,9.17,13.29,12.69,12.36,17.49,8.35,9.13,13.22,4.59,6.10,2.67,3.43,8.17,10.87,5.12,5.76,NaN
2018-12-28,33.29,100.10,10.95,15.69,15.39,15.04,19.59,8.61,10.99,15.51,2.34,4.04,1.25,2.79,4.88,7.85,2.02,5.83,NaN
2018-12-29,8.19,100.70,7.24,10.56,9.21,9.14,14.63,7.11,7.52,10.54,1.68,1.99,0.91,1.08,3.47,4.63,2.26,2.37,NaN
2018-12-30,4.33,100.42,9.57,13.68,13.36,13.23,16.65,10.22,6.43,13.68,1.22,2.33,0.18,2.15,2.79,5.38,0.30,5.08,NaN
2018-12-31,10.69,100.07,12.91,18.72,17.95,17.91,22.16,15.69,6.47,18.58,3.57,5.21,1.16,4.04,6.86,9.70,2.89,6.81,NaN

### Append test, train and validation data for county 1001 and save to csv

In [12]:
full_data = train_data.append(val_data)
full_data = full_data.append(test_data)
full_data.to_csv('full_1001.csv')

In [13]:
full_data

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,
2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,9.50,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,10.18,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,7.41,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,15.92,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,13.48,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,0.00,100.73,4.03,3.50,0.87,2.18,13.08,-3.34,16.42,3.32,1.99,2.64,0.88,1.76,4.34,6.67,1.17,5.49,NaN
2020-12-28,0.05,101.07,5.95,7.20,6.39,6.80,15.35,0.65,14.70,6.95,1.56,1.92,0.76,1.16,3.21,5.00,1.41,3.59,NaN
2020-12-29,0.11,101.10,7.01,10.01,8.78,9.39,17.56,5.78,11.78,9.96,2.00,2.33,1.60,0.73,4.32,6.55,2.74,3.81,0.0
2020-12-30,0.06,100.62,7.93,12.22,10.54,11.38,19.21,6.16,13.05,12.14,2.71,3.58,2.26,1.31,5.40,6.45,4.33,2.12,NaN
2020-12-31,4.49,100.14,10.25,14.91,14.37,14.64,20.47,9.38,11.08,14.86,2.40,4.94,1.66,3.28,4.84,9.12,2.81,6.32,NaN